/* General styles - put these straight into your stylesheet */

body {
  margin: 0;
}

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
  background-color: #ccc;
}

/* Rules for card container */
.card
{
  width: 35em;
  height: 22em;
  margin: 5em auto;
  background-color: red;
  border: 0.2em solid black;
  border-radius: 1.5em;
}

/* Rules for header and footer */
.card header
{
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
  border-radius: 1.5em 1.5em 0 0;
  font-size: 20px;
}

.card footer
{
  background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
  border-radius: 0 0 1.5em 1.5em;
  font-size: 15px;
}

.card header, .card footer 
{
  height: 30px;
  padding: 10px;
  text-align: left;
}

.card h2, .card p
{
  margin: 0;
}

/* Rules for main business card contents */

.card article
{
  height: 120px;
  padding-left: 10px;
  line-height: 15px;
  background-color: rgba(0, 0, 0, 0.3);
}

.card article p
{
  color: white;
  text-align: left;
  font-size: 12px;
  padding: 10px;
  padding-left: 0px;

}

.card article img
{
  max-height: 100%;
  float: right;
}
